/* 
.card_seperator{
    box-shadow: 0 4px 8px 0 rgba(0, 0 ,0, 0.2);

    margin: auto;
}


.divider-color{
    padding-top: 5px;
    padding-bottom: 5px;
    border-color:rgba(69, 69 ,69, 0.2) ,
}


.grid-card{
    padding: auto;
    margin-top: 5px;

} */

.sidebar {
    height: 100%;
    width: 300px;
    background-color: red;
}