.main-section {
    width: 40% !important;
    min-height: 40vh !important;
    margin: auto !important;
    margin-top: 5rem !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 2rem;
}